/* General */
body {
  margin: 0;
  width: auto;
  height: 100vh;
  display: flex;
}

/* Player Sections */
.player-panel {
  width: 25%;
  height: 100%;
  background: linear-gradient(18deg, #2e3c49 35%, #4b7a8b 67%, #459aab 100%);
}

.player-card {
  margin-top: 2em;
  height: 30%;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Game Section */
.game-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.game-message {
  margin: 2em 0;
  padding: .8em 0;
  font-size: 3em;
  text-align: center;
}

.game-board {
  background: radial-gradient(circle, #2e3c49 26%, #4b7a8b 63%, #459aab 100%);
  height: 40%;
  margin: 3em 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: .5em;
}

.cell {
  background: white;
  font-size: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
