* {
  border: 1px solid green;
}

body {
  margin: 0;
  width: auto;
  height: 100vh;
  display: flex;
}

body > aside {
  width: 25%;
  height: 100%;
  background: linear-gradient(18deg, #2e3c49 35%, #4b7a8b 67%, #459aab 100%);
}

body > main {
  width: 50%;
}

.player-card {
  height: 30%;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
